*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:url("img/CANCHOTAAAAA.png");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

min-height:100vh;

}

.overlay{

width:100%;

min-height:100vh;

background:rgba(0,0,0,.65);

display:flex;

justify-content:center;

align-items:center;

}

.contenedor{

width:100%;

max-width:600px;

}

.escudo{

width:90px;

display:block;

margin:auto;

margin-bottom:20px;

}

.panel{

background:rgba(20,20,20,.82);

padding:40px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.45);

text-align:center;

}

.logoMP{

font-size:55px;

margin-bottom:20px;

}

h1{

color:white;

margin-bottom:20px;

}

.resumen{

background:rgba(255,255,255,.08);

padding:20px;

border-radius:15px;

margin-bottom:25px;

text-align:left;

}

.resumen h3{

color:white;

margin-bottom:8px;

}

.resumen p{

color:#ddd;

margin-bottom:8px;

}

.precio{

font-size:42px;

color:#00d26a;

font-weight:bold;

margin:20px 0;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#009EE3;

color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#0087c4;

transform:scale(1.03);

}
.volver{

position:fixed;

top:25px;

left:25px;

width:50px;

height:50px;

background:rgba(20,20,20,.85);

color:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

text-decoration:none;

font-size:28px;

font-weight:bold;

transition:.3s;

box-shadow:0 5px 15px rgba(0,0,0,.4);

}

.volver:hover{

background:#c62828;

transform:scale(1.1);

}
/* ---------------------- */
/* MENÚ HAMBURGUESA */
/* ---------------------- */

#menu-toggle{

display:none;

}

.hamburguesa{

position:fixed;

top:25px;

left:25px;

width:55px;

height:55px;

background:#c62828;

color:white;

font-size:30px;

display:flex;

justify-content:center;

align-items:center;

border-radius:12px;

cursor:pointer;

z-index:1001;

transition:.3s;

box-shadow:0 5px 20px rgba(0,0,0,.35);

}

.hamburguesa:hover{

background:#e53935;

transform:scale(1.08);

}

.menu-lateral{

position:fixed;

top:0;

left:-300px;

width:280px;

height:100%;

background:#171717;

transition:.35s;

padding-top:30px;

box-shadow:10px 0 30px rgba(0,0,0,.45);

z-index:1000;

}

#menu-toggle:checked ~ .menu-lateral{

left:0;

}

.perfil{

text-align:center;

margin-bottom:40px;

}

.perfil img{

width:90px;

margin-bottom:10px;

}

.perfil h2{

color:white;

font-size:22px;

}

.menu-lateral a{

display:block;

padding:18px 30px;

color:white;

text-decoration:none;

font-size:18px;

transition:.3s;

}

.menu-lateral a:hover{

background:#c62828;

padding-left:40px;

}